.area-1 {
  background: #171627;
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 26px;
  padding: 100px 0px 70px;
  color: aliceblue;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  content: " ";
  width: 100%;
  clear: both;
}

.container2 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  content: " ";
  width: 20%;
  clear: both;
  text-align: center;
}

* {
  box-sizing: border-box;
}
  
  
.column {
  float: left;
  width: 33.0%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
    
}
  
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  margin: 0 -5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
  background: #26253f;
  width: 100%;
}

.games-btn {
  background: #d5057f;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  padding: 8px 20px;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  border-radius: 2px;
}
a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: -webkit-link;
  cursor: pointer;

  text-align: center;
}

@media screen and (max-width: 990px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 680px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

footer{
  width: 100%;
  height: auto;
}
body{
  background-color:#26253f;
}

div.fixed {
  position: fixed;
  bottom: 0;
  width: auto;
  height: auto;
  background:black;
  border: 3px solid #73AD21;
  
}

.navbar {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  display: inline-block;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  
  text-decoration: none;
  font-size: 19px;
  padding: 5px;
  border: 2px solid yellow;
  
}

.navbar a:hover {
  background: #5a108b;
  color: black;
  font-size: 22px;
  text-align: center;
  border-style: dashed;
  border-color: rgb(0, 109, 252);
}

.navbar a.active {
  background-color:#732faa;
  color: white;
}
#logina {
  top: 5px;
  background-color: #555
}
#mySidenav a {
  position: fixed;
  right: -60px;
  transition: 0.3s;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

#mySidenav a:hover {
  right: 0;
}

.bg-img {
  background-image: url("images.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 25%;
  visibility: hidden;
}


.conta {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.btn {
  background-color: #3436bb;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.closed {
  position: absolute;
  top: 8px;
  right: 16px;
  text-align: end;
}


.info{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.center-box .center-inner {
  position: relative;
  width: 100%;
  display: block;
}

.center-box {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.container-info {
  position: static;
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;

}

.contact-section {
  position: relative;
  overflow: hidden;
  display: block;
}
.contact-info-block {
  position: relative;
  font-size: 22px;
  line-height: 1.2em;
  color: #bdb7ce;
  font-weight: 500;
  margin-bottom: 3px;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  flex: 0 0 50%;
  padding-top: 10px;
}


.contact-info-block .inner {
  position: relative;
  padding: 10px 20px;
  border: 5px solid #5200ff;
  box-sizing: border-box;
  display: flow-root;
  
}
.pog {
  float: left;
  padding: 10px;
}
.left, .right {
  width: 40%;
}

.right {
  width: 40%;
  text-align: right;
}


.middle {
  width: 20%;
}

.pag:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}
.header {
  padding: 60px;
  text-align: center;
  background: #673ab7;
  color: white;
  font-size: 30px;
}


.header button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.header button:hover {
  background-color: #555;
  color: white;
}
html {
  scroll-behavior: smooth;
}